@media(max-width: 700px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23ff8775' fill-opacity='0.7' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
    font-family: 'Titillium Web', sans-serif;
}

.cuerpo{
  border: 2px solid black;
  margin: auto;
  width: 95%; 
  background: #ffffff;
  height: 600px;
  transform: translateY(20px);
}

.h1{
  background: white;
  font-size: 70px;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin: auto;
}

.form-registrer{
  background: #ffffff;
  padding: 10%;
}

.form-registrer .escribir {
  background: #ffcaca;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0px;
  font-size: 40px;
}

.form-registrer .boton{
  border-radius: 10px;
  background: gray;
  color: #ffffff;
  font-size: 40px;
  margin: auto;
  width: 70%;
  display: flex;
  transform: translateY(80px);
}

.warning {
  background: #ffffff;
  color: tomato;
  font-size: 60px;
  text-align: center;
  transform: translateY(60px);
}

.correct{
  color: greenyellow;
  font-size: 60px;
  background: #ffffff;
  text-align: center;
}

.button-link{
  background: gray;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  width: 20%;
  margin: auto;
  font-size: 40px;
  color: white;
  transform: translateY(20px);
}

/**OPACITY */

.form-registrer .escribir:hover{
  opacity: .7;
}
.form-registrer .boton:hover{
opacity: .7;
}
.button-link:hover{
  opacity: .7;
}
}